<form method="post" action="/login" class="flex flex-col items-center">
  {% import "base_form_contents.html" as form_contents %}
  {{ form_contents.display_form(login_form) }}
  <div class="my-4">
    <button
      class="bg-green-500 text-slate-800 py-1 px-2 font-bold rounded-lg border-4 border-slate-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-green-900">Sign
      In</button>
    <a href="/"
      class="inline-block bg-red-400 text-slate-800 py-1 px-2 font-bold rounded-lg border-4 border-slate-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-red-900"
      role="button">Cancel</a>
  </div>
</form>