<form method="post" action="/login" class="flex flex-col items-center">
  {% import "base_form_contents.html" as form_contents %}
  <div class="text-xl text-center mb-2 font-bold">Account Login</div>
  {{ form_contents.display_form(login_form) }}
  <ul id="login-errors" class="font-bold text-red-500 mt-2 max-w-[16rem] text-center"></ul>
  <div class="my-4">
    <button id="login-submit"
      class="bg-green-500 text-slate-800 py-1 px-2 font-bold rounded-lg border-4 border-slate-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-green-900">Sign
      In</button>
    <button id="login-cancel" type="button"
      class="bg-red-400 text-slate-800 py-1 px-2 font-bold rounded-lg border-4 border-slate-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-red-900"
      role="button">Cancel</button>
  </div>
</form>