<script src="{{ url_for('daily_snake.static', filename='daily_snake.js') }}" type="module"></script>
<div class="flex flex-col items-center rounded-lg border-8 border-green-900 p-4">
  <div class="text-xl mb-4 font-bold">Snake of the day!</div>
  <div class="flex flex-col items-center w-60 h-72">
    <div id="snake-name"></div>
    <div id="snake-scientific" class="italic"></div>
    <img id="snake-image" class="w-60 rounded-full object-cover my-4"></img>
  </div>
  <div class="text-lg mb-4">More Information:</div>
  <ul>
    <li id="photographer">Photo Credit: </li>
    <li><a id="license" target="_blank" class="underline">License: CC </a></li>
    <li><a id="source" target="_blank" class="underline">Photo Source</a></li>
    <li><a id="wiki" target="_blank" class="underline">Species on Wikipedia</a></li>
  </ul>
</div>