{% extends 'base.html' %}

{% block title %}Snake Game{% endblock %}

{% block head %}
{% if session["user"] %}
<script src="{{ url_for('home.static', filename='home_stats.js') }}" defer></script>
{% else %}
<script src="{{ url_for('home.static', filename='home_buttons.js') }}" defer></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="flex flex-col h-screen">
  <div class="flex px-8 py-3">
    <div class="w-40"></div>
    <div class="sigmar text-4xl grow text-center">Snake Game</div>
    {% if session["user"] %}
    <div class="w-40">
      <a href="/logout"
        class="inline-block bg-blue-500 text-neutral-800 py-1 px-2 font-bold rounded-lg border-4 border-neutral-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-blue-900">Logout</a>
    </div>
    {% else %}
    <div class="flex w-40">
      <button id="login-btn"
        class="bg-blue-500 text-neutral-800 py-1 px-2 font-bold rounded-lg border-4 border-neutral-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-blue-900">
        Login</button>
      <button id="signup-btn"
        class="bg-purple-500 text-neutral-800 py-1 px-2 font-bold rounded-lg border-4 border-neutral-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-purple-900">
        Sign Up</button>
    </div>
    {% endif %}
  </div>
  <div class="flex mx-8 mt-3 mb-4 grow">
    <div id="stats" class="flex flex-col w-72 text-center">
      {% if session["user"] %}
      <div class="text-center font-bold text-3xl mb-1">Your Stats</div>
      {% else %}
      <div class="text-center font-bold text-lg">Feel free to play, but logging in will let you track your scores!</div>
      {% endif %}
    </div>
    <div class="grow text-center" id="game-container">{% include 'game.html' %}</div>
    {% include 'daily_snake.html' %}
  </div>
  <div class="hidden absolute pt-4 px-4 top-14 right-8 bg-slate-800 border-4 border-blue-900 rounded-lg"
    id="login-form">
    {% include 'login.html' %}
  </div>
  <div class="hidden absolute pt-4 px-4 top-14 right-8 bg-slate-800 border-4 border-purple-900 rounded-lg"
    id="signup-form">
    {% include 'signup.html' %}
  </div>
</div>
{% endblock %}