<script src="{{ url_for('game.static', filename='queue.js') }}" defer></script>
<script src="{{ url_for('game.static', filename='game.js') }}" defer></script>
<div class="flex flex-col items-center">
  <canvas class="bg-amber-200" id="board" height="540" width="540" tabindex="-1"></canvas>
  <button id="start-btn"
    class="bg-green-400 text-neutral-800 text-2xl py-1 px-2 mt-1 font-bold rounded-lg border-4 border-neutral-800 ease-linear transition-all duration-150 active:bg-neutral-100 hover:border-green-900">Start</button>
</div>